@import url('https://fonts.googleapis.com/css?family= Clicker + Script');
 @import url('https://fonts.googleapis.com/css?family=Dancing+Script|Work+Sans');
 @import url('https://fonts.googleapis.com/css?family=Abel');
 @import url('https://fonts.googleapis.com/css?family=Merienda+One');
 @import url('https://fonts.googleapis.com/css?family=Nixie+One');
 @import url('https://fonts.googleapis.com/css?family=Merienda+One');
 @import url('https://fonts.googleapis.com/css?family=Passion+One');
 @import url('https://fonts.googleapis.com/css?family=Jura:300');
 @import url('https://fonts.googleapis.com/css?family=Jura:300');


body{
  margin: 0;
	padding: 0;
	overflow-x:hidden;
}
.brand-logo{
	font-family:'Merienda One', cursive; ;
}
.carousel-inner{

}
.menu_2  a{
	margin-left: 10px;
	text-decoration: none;
  color: #fff;
}
#menu{
	background-color:#D69AB2;
}
#menu li a{
  font-size: 17px;
  font-family: Abel;
}
#menu li a{
	text-decoration: none;
}
#menu li a:hover{     
	color: #fff;
}
#menu-mobile li a:hover{     
	color: #fff;
	background-color:#D69AB2 ;
}
#logo{
	position: relative;
	bottom: 8px;

}
#navbar{overflow: hidden;}/*retirando barra de scroll*/

#myCarousel{
	height: 100%;
}
/*=======Cadastro======*/
#formu{
	background-image: url('../img/s1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding:20px;
}
#cad{
	margin-top: 40px;
  padding:20px;
	background-color:#f4bbd3;
	height:650px;
	
}
#cad h4{
    font-family: 'Merienda One', cursive;
    text-align: center;
	color:#fff;
}
#duvida{
	color: #28bfd5;
	margin-top: 100px;
}
#duvida p{
	font-family: 'Merienda One', cursive;
    text-indent: 10px;
}
#duvida span{
	
	font-family: 'Merienda One', cursive;
	color: #000000;
	text-shadow:1px 1px 1px #fff;

}
#enviar{margin-top: 10px; font-family: 'Merienda One', cursive;}

#localizacao{
	margin: 0;
}
/*=================SERVIÇOS============*/

#servicos{
	padding-top:40px;
}
#servicos h4{
	text-shadow: 1px 1px 1px #fff;
	padding: 5px;
}
#servicos p{
	color: #fff;
	font-size:15px;
	font-family: 'Abel', sans-serif;
	text-indent: 20px;
	text-align: center;
	padding: 5px;
}
#for2_filho{

	background-color: #D69AB2;
	height:550px;
	
}
#for_filho{
	background-color: #f7cacd;
	height: 550px;
	
}
#for{

    font-family: 'Work Sans', sans-serif;

}
#titu_serv{
     
  color:#f7cad0;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
	text-align: center;
	
}
.titulo_filho{
	color: #fff;
	text-align: center;
	font-size: 30px;
	margin-top: 7px;
	font-family: 'Work Sans', sans-serif;
	border-bottom:  1px 50% solid #fff;
}
/*==============SOBRE%%OFERECEMOS===============*/
#sobre{
 
  height: auto;
  background-color: #f7cacd;
}
#sobre_titu{
	font-size: 40px;
  font-family: 'Work Sans', sans-serif;
	text-align: center;
	color: #fff;
  padding-top: 20px;
}
#titu_sobre{

	text-align: center;
	background-color: #fff;
}
#texto{
 margin-top: 80px;
 padding: 28px;
 font-family: 'Abel', sans-serif;
 font-size: 25px;
 color:#fff;
}
#texto b{
 color:#9e2a2b;
}
.titu_direita{
  color: #fff;
  font-size: 20px;
  text-align: center;                       /*FAZER UM TEXTO COM  FONTE GRANDE*/
  border: 2px #fff solid;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.texto_direita{

   text-indent: 10px;
   font-size: 18px;
   font-family: 'Abel', sans-serif;
   color:#fff;
   margin-right: 10px;
   margin-left: 10px;
}
.thumbnail{
	background-color: #f7cacd;
	border: none;
}
#localizacao{
	width: 100%;
}
/*===============SAIBA MAIS==============*/

/*============footer rodape===========*/
#rodape{
  background-color: #fff;
  height: auto;
  margin-bottom: 10px;  
}
#rodape p{
	color: #000000;
}
#rodape h4{
	color: #000000;
	border-bottom: solid #000000 1px;
}
.contato ul li{
  font-size: 17px;
}	
#sandro{
	background-color: #adb5bd;
	height: 50px;
}
#sandro span a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;	
}
	
}
@media screen and (min-width:480px) and (max-width:800px)/**/
{
  #btn{margin-left:-20px;}

			
}	
@media screen and (min-width:640px) and (max-width:960px)/**/
{
  #btn{margin-left:100px;}

			
}	
@media screen and (min-width:640px) and (max-width:960px)/**/
{
  #btn{margin-left:160px;}

			
}


